# Flask Configuration
FLASK_ENV=development
FLASK_DEBUG=False

# Database Configuration
DATABASE_URI=sqlite:///raspberry_pi.db

# Storage Configuration
# Path where waybill files will be downloaded and stored
# Leave empty to use default: PROJECT_ROOT/storage/waybills
# Example: WAYBILL_STORAGE_PATH=/opt/waybills
# Example: WAYBILL_STORAGE_PATH=/mnt/external/waybills
WAYBILL_STORAGE_PATH="/home/roei/inspire-projects/rpi-waybill-printer/storage"
