# Byte-code files
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual environment
venv/
.venv/

# Editor/IDE files
.idea/
.vscode/
*.swp
*.bak
*.swo

# Environment variables
.env

# Log files
*.log

# Storage
storage/waybills/